@use '@angular/material' as mat;

@mixin fs-toggle($theme) {

  $primary: mat.define-palette($theme);

    .fs-toggle-option {
      border: 1px solid mat.get-color-from-palette($primary);

      &:not(.selected) {
        border-color: mat.get-color-from-palette($primary) !important;
        color: mat.get-color-from-palette($primary) !important;
      }
      &.selected {
        background-color: mat.get-color-from-palette($primary);
        border-color: mat.get-color-from-palette($primary);
      }
    }
  }
