.fs-toggle-option {
  border: 1px solid #888;
  border-radius: 4px;
  margin-right: 5px;
  display: inline-block;
  padding: 5px 8px;
  cursor: pointer;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  outline: none;
  text-align: center;
  color: #fff;

  .fs-toggle-option-template {
    vertical-align: middle;
  }

  &.selected mat-icon {
    color: #fff;
  }
  &:not(.selected) {
    background-color: transparent !important;
    border-color: #888 !important;
    color: #888 !important;
  }
  &:last-child {
    margin: 0;
  }
}
