/deep/ label {
  transform: translate3d(0, 0px, 0) scale(0.75);
  transform-origin: left;
  display: block;
  line-height: 21px;
  transition: cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
  color: rgba(0, 0, 0, 0.54);
}