@import '~@angular/material/theming';
@include mat-core();

@mixin fs-toggle($theme) {

  $primary: mat-palette($theme);

    .fs-toggle-option {
      border: 1px solid mat-color($primary);

      &:not(.selected) {
        border-color: mat-color($primary) !important;
        color: mat-color($primary) !important;
      }
      &.selected {
        background-color: mat-color($primary);
        border-color: mat-color($primary);
      }
    }
  }
